@media (prefers-color-scheme: light) {
  a:hover {
    color: #10a37f;
  }
}

body {
  min-width: 30rem;
}

#app {
  position: relative;
  margin: auto;
  max-width: 100ch;
}

:focus {
  outline-color: #10a37f;
}